h1 {
    text-align: center;
    font-size: 60px;
}
 body {
    background: aqua;
}
button {
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 0.5%;
    margin-left: 0.3%;
    margin-right: 0.3%;
}
form{
    text-align: center;
}