<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web App</title>
        <link rel="stylesheet" href="../static/css/styleHome.css" type="text/css" media="all" />
        <script src="../static/js/appHome.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1> Welcome </h1>
        <div>
            <img src="https://e1.pxfuel.com/desktop-wallpaper/381/411/desktop-wallpaper-technology-backgrounds-for-technological.jpg"></img>
        </div>
        <br />
        <div>
            <button onClick="registerpague()"> Register Pague </button>
            <button onClick="consultpaguepague()"> Consult Page </button>
        </div>
    </body>
</html>