<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web Pague</title>
        <link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" />
        <script src="../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>Register Users</h1>
        <form>
            <label>Identification</label> <input type="number"/><br> <br>
            <label>Name</label> <input type="text"/><br> <br>
            <label>LastName</label> <input type="text"/><br> <br>
            <label>Birthday</label> <input type="date"/><br> <br>
            <button>Register</button>
        </form>
    </body>
</html>